- content_for :title do
  Gallery
- content_for :head do
  %script{ :type => 'text/javascript', :src => '/js/fancybox/jquery.mousewheel-3.0.4.pack.js' }
  %script{ :type => 'text/javascript', :src => '/js/fancybox/jquery.fancybox-1.3.4.pack.js' }
  %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'js/fancybox/jquery.fancybox-1.3.4.css' }
  %script
    :plain
      $(document).ready(function() {
        $('.gallery a').fancybox({
          opacity: true,
          overlayShow: false,
          transitionIn: 'elastic',
          transitionOut: 'elastic',
          titlePosition: 'over'
        });
      });
- Pow('./public/gallery').directories.each do |gallery|
  - if Pow("./public/gallery/#{gallery.name}.txt").exists?
    %h2= Pow("./public/gallery/#{gallery.name}.txt").read.split("\n").first
  .section{ :id => "gallery-#{gallery.name}" }
    - if Pow("./public/gallery/#{gallery.name}.txt").exists?
      %p= Pow("./public/gallery/#{gallery.name}.txt").read.split("\n").last
    %ol.gallery
      - gallery.glob('*_t.jpg').each do |thumb|
        %li
          %a{ :href => "/gallery/#{gallery.name}/#{thumb.name.gsub('_t', '')}", :title => (Pow("./public/gallery/#{gallery.name}/#{thumb.name.gsub('_t.jpg', '.txt')}").read rescue '') }
            %img{ :src => "/gallery/#{gallery.name}/#{thumb.name}" }
      .clear
    %a.section-end{ :href => '#top-anchor' } Top
    .clear
.clear