!!! strict
%html
  %head
    %title= "Aircraft - #{yield_content :title}"
    %meta{ :name => "google-site-verification", :content => "EStDkklbTsg7LWx4qYyoGMNePeP7eIa0_OPoPMktOx8" }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/reset.css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/layout.css' }
    %script{ :type => 'text/javascript', :src => '/fonts/cufon-yui.js' }
    %script{ :type => 'text/javascript', :src => '/fonts/myriad-pro.font.js' }
    %script{ :type => 'text/javascript', :src => '/js/jquery-1.4.3.min.js' }
    %script{ :type => 'text/javascript', :src => '/js/jquery.cycle.all.latest.js' }
    %script
      :plain
        Cufon.replace('h1')

        $(document).ready(function() {
          $('#nav-search input').focus(function() {
            if( $(this).val() == 'SEARCH' ) $(this).val('')
          })
          
          $('#nav-search input').blur(function() {
            if( $(this).val() == '' ) $(this).val('SEARCH')
          })

          $('form a.submit').click(function() {
            $(this).parents('form').submit()
          })

          $('.slideshow').cycle({ fx: 'fade' })
        });
    = yield_content :head
  %body
    #top-anchor
    #page
      #nav-side
        %a#bookmark{ :href => 'javascript:(function(){var title = document.title;var url = window.location;if(window.sidebar) window.sidebar.addPanel(title, url,"");else if(window.external) window.external.AddFavorite(url, title);})();' }
        %a#logo
        %ol= navigation('Home' => '/', 'Airplanes' => '/airplanes', 'Helicopters' => '/helicopters', 'Gallery' => '/gallery', 'Quiz' => '/quiz', 'Feedback' => '/feedback')
        #hit-counter= hit_counter
      #body
        #nav-top
          %ol= navigation('Home' => '/', 'Airplanes' => '/airplanes', 'Helicopters' => '/helicopters', 'Gallery' => '/gallery', 'Quiz' => '/quiz', 'Feedback' => '/feedback')
        #nav-search
          %input{ :type => 'text', :value => 'SEARCH' }
        .clear
        %table#content-wrapper
          %tr
            %td.tl(cellspacing=0)
            %td.tm(cellspacing=0)
              %h1#title= (yield_content :title).upcase
            %td.tr(cellspacing=0)
          %tr
            %td.ml
            %td
              #content= yield
            %td.mr
          %tr
            %td.bl
            %td.bm
              #footer
                %a#top-link{ :href => '#top-anchor' } Top
            %td.br